<h4>{{i18n 'category.moderation_pp_title'}}</h4>
<p>{{i18n 'category.moderation_pp_help'}}</p>

<section class='field'>
  <label>
    {{i18n 'category.moderation_pp_daily_max_posts'}}
    {{input type="number" value=category.custom_fields.moderation_pp_daily_max_posts}}
  </label>
</section>

<section class='field'>
  <label>
    {{i18n 'category.moderation_pp_daily_max_posts_per_topic'}}
    {{input type="number" value=category.custom_fields.moderation_pp_daily_max_posts_per_topic}}
  </label>
</section>

<section class='field'>
  <label>
    {{i18n 'category.moderation_pp_fiveday_max_posts_per_topic'}}
    {{input type="number" value=category.custom_fields.moderation_pp_fiveday_max_posts_per_topic}}
  </label>
</section>

<section class='field'>
  <label>
    {{i18n 'category.moderation_pp_max_posts_per_topic'}}
    {{input type="number" value=category.custom_fields.moderation_pp_max_posts_per_topic}}
  </label>
</section>
